.chart-container {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    width: 835px;
    height: 320px;
    border-radius: 5px;
    background-color: #FBFBFB;
    padding-top: 25px;

    &_title{
        color: #20253A;
        font-size: 15px;
        padding-left: 25px;
        font-family: Roboto;
        font-weight: 600;
        line-height: 24px;
    }

    .recharts-default-legend {      
        line-height: 26px;
        display: flex;
        justify-content: flex-end;
        gap: 32px;
    }

    .recharts-legend-item-text {
        font-size: 14px;
    }
}

.custom-tooltip{
    height: 63px;
    width:39px;
    background-color: red;
    font-family: Roboto;
    font-size: 7px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: white;
}