.dataCard{
    display: flex;
    width: 258px;
    height: 124px;
    align-items: center;
    justify-content: space-evenly;
    background: #FBFBFB;

    
    img{
        width: 60px;
        height: 60px;
    }
    h2{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
    p{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #74798C;
    }
}
@media (width < 1320px ){
    .dataCard{
        width: 200px;
    }
}